@charset 'UTF-8';

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
body {
  background: #202020 url(images/img01.jpg) repeat;
}

body,
input,
textarea,
select {
  size: 11pt;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

strong,
b {
  font-weight: bold;
  color: #000000;
}

em,
i {
  font-style: italic;
}

/* Buttons */
.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  text-align: center;
  padding: 0.50em 1.5em;
  background: #e95d3c;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #FFF;
  -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background: #de3d27;
  color: #FFF !important;
}

.btncontainer {
  display: block;
  text-align: center;
  margin: 0auto;
}

.btncontainer .btn {
  display: inline-block;

  padding: 0.50em 1.5em;
  background: #e95d3c;
  border-radius: 6px;
  font-size: 1.1em;
  color: #FFF;
}

.btncontainer .btn:hover {
  background: #de3d27;
  color: #FFF !important;
}

/* Lists */
ul.style1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.style1 li {
  padding: 0.60em 0em;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .1);
}

ul.style1 li:first-child {
  padding-top: 0;
  border-top: 0;
}

a {
  color: #ff0000;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#header {
  position: relative;
  background: #FFF;
}

#header .container {
  position: relative;
  padding: 4em 0em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
  position: absolute;
  left: 0em;
  top: 3em;
}

#logo h1 {
  font-weight: 600;
}

#logo a {
  display: block;
  text-decoration: none;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
#nav {
  position: absolute;
  right: 0em;
  top: 2.2em;
}

#nav>ul>li {
  float: left;
  list-style: none;
}

#nav>ul>li:last-child {
  padding-right: 0;
}

#nav>ul>li>a,
#nav>ul>li>span {
  display: block;
  margin-left: 0.7em;
  padding: 0.80em 1.2em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  outline: 0;
  color: #333;
}

#nav li.active a {
  background: #e95d3c;
  border-radius: 5px;
  color: #FFF;
}

@media all and (max-width:767.98px) {

  .container #logo {/*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    */
    display: block;
    width: 100%;
    text-align: center;
  }

  #nav {
    position: relative;
    display: inline-block;
  }
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/
#banner {
  position: relative;
  padding: 12em 0em;
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
}

.homepage #banner {
  padding: 12em 0em;
}

/* 210421 edit by helloalpaca */

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
#page {
  position: relative;
  background: #fff;
  padding: 2em 0em 6em 0em;
}

#main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
  position: relative;
  color: rgba(255, 255, 255, .4);
}

#footer h2 {
  padding-bottom: 1.5em;
  font-size: 1.6em;
  color: #FFF;
}

#footer strong {
  color: rgba(255, 255, 255, .7);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, .4);
}

#copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, .4) !important;
}

/*********************************************************************************/
/* Custom                                                                    */
/*********************************************************************************/

.col-md-3 h2 {
  margin-top: 1.67em;
  /* margin-bottom: 1.67em; */
  /* 210422 edit by helloalpaca */
  font-size: 1.6em;
}

.img-index {
  display: block;
  max-width: 100%;
  max-height: 150px;
  height: auto;
  margin: 0 auto;
}

.img-menu2 {
  display: block;
  width: 252px;
  margin: 0 auto;
}

.btn-orange {
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #e95d3c;
}