/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
    margin-top: 3em;
    padding-top: 2em;
    border-top: none;
}

.homepage #main {
    margin-top: 6em;
    padding-top: 6em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    padding: 0em 0em 4em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
    padding: 4em 0em;
}


#featured .divider {
    padding: 2em 0em;
}